
@model Product

@{
    if (Model != null)
    {
    <h1>@Model.Name</h1>
  
    <p>@Model.Description</p>
    <h5>$@Model.Price</h5>
    <p>Category: @Model.Category</p>

    }
    else
{
        <h1>Product not found.</h1>
}
}
@*if/else statement nested in Razor code block to serve as error catch function.*@




@*<h1>@Model.Name</h1>*@


