@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CrazyMax Cafe</h1>
    @*Include link to to registration page*@
    @*Could do a login page vs. a registration page*@
    <p>Would you like to sign up for our rewards program?</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration"><u>Sign Up</u></a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

